<section>
  <div class="page-header">
    <h1>{{vm.contactlist._id ? 'Edit Contact List' : 'Add a new contact'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.contactlistForm" class="form-horizontal" ng-submit="vm.save(vm.form.contactlistForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.contactlist.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.contactlistForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*Contactlist name is required.</p>
          </div>
          </div>
          <div class="form-group" show-errors>
          <label class="control-label" for="email">Email</label>
          <input name="name" type="text" ng-model="vm.contactlist.email" id="name" class="form-control" placeholder="email" required>
          <div ng-messages="vm.form.contactlistForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*Contactlist email is required.</p>
          </div>
          </div>
          <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.contactlist.number" id="name" class="form-control" placeholder="Number" required>
          <div ng-messages="vm.form.contactlistForm.number.$error" role="alert">
            <p class="help-block error-text" ng-message="required">*Contactlist name is required.</p>
          </div>
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.contactlist._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
