<section>
  <div class="page-header">
    <h1>Contact Lists</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="contactlist in vm.contactlists"
       ui-sref="contactlists.view({ contactlistId: contactlist._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Contact added on
        <span ng-bind="contactlist.created | date:'mediumDate'"></span>
        by
        <span ng-if="contactlist.user" ng-bind="contactlist.user.displayName"></span>
        <span ng-if="!contactlist.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="contactlist.name"></h4>
      <h4 class="list-group-item-heading" ng-bind="contactlist.email">   </h4>
      <h4 class="list-group-item-heading" ng-bind="contactlist.number"></h4>

    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.contactlists.$resolved && !vm.contactlists.length">
    No Contactlists yet, why don't you <a ui-sref="contactlists.create">create one</a>?
  </div>
</section>
