<section>
  <div class="page-header">
    <h1>{{vm.contactlist.name}}</h1>
    <br>
    <h4>Email : {{vm.contactlist.email}}</h4>
    <br>
    <h4>Number : {{vm.contactlist.number}}</h4>
  </div>
  <div class="pull-right"
       ng-show="vm.contactlist.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="contactlists.edit({ contactlistId: vm.contactlist._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Contact added on
      <span ng-bind="vm.contactlist.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.contactlist.user"
            ng-bind="vm.contactlist.user.displayName"></span>
      <span ng-if="!vm.contactlist.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.contactlist.content"></p>
</section>
