<section>
  <div class="page-header">
    <h1><span ng-bind="vm.post.title"></span> <small>Posted in {{vm.post.category}}</small></h1>
    <div ng-bind="vm.post.body"></div>
    <br>
    <p>Tags: <strong>{{vm.post.tags}}</strong></p>
  </div>
  <div class="pull-right"
       ng-show="vm.post.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="posts.edit({ postId: vm.post._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.post.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.post.user"
            ng-bind="vm.post.user.displayName"></span>
      <span ng-if="!vm.post.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.post.content"></p>
</section>