<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>My App</h1>
      </div>
    </div>
    <br>
   
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/posts" target="_blank">View post</a>
        <a class="btn btn-success btn-lg" href="/posts/create" target="_blank">Create a post</a>
      </p>
    </div>
  </div>
  
  
  
  
</section>
