<section>
  <div class="page-header">
    <h1>Todos</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="todo in vm.todos"
       ui-sref="todos.view({ todoId: todo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Task addded on
        <span ng-bind="todo.created | date:'mediumDate'"></span>
        by
        <span ng-if="todo.user" ng-bind="todo.user.displayName"></span>
        <span ng-if="!todo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="todo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.todos.$resolved && !vm.todos.length">
    No Todos yet, why don't you <a ui-sref="todos.create">create one</a>?
  </div>
</section>
