<section>
  <h1>To DO </h1>
  
  <div class="col-md-12">
    <form name="vm.form.todoForm" class="form-horizontal" ng-submit="vm.save(vm.form.todoForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <input name="name" type="text" ng-model="vm.todo.name" id="name" class="form-control todos__create-input" placeholder="What do I need to do?"  required>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success todos__create-button">Add a task<!-- {{vm.todo._id ? 'Update' : 'Create'}} -->
          </button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
<section>
<div class="list-group">
    <a ng-repeat="todo in vm.todos"
       ui-sref="todos.view({ todoId: todo._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Task addded on
        <span ng-bind="todo.created | date:'mediumDate'"></span>
        by
        <span ng-if="todo.user" ng-bind="todo.user.displayName"></span>
        <span ng-if="!todo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="todo.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.todos.$resolved && !vm.todos.length">
    No Todos yet, why don't you <a ui-sref="todos.create">create one</a>?
  </div>
</section>



